body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

/* Common */
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.wrapper {
    height: inherit;
    display: grid;
    grid-template-rows: 100px 150px auto 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
}

li {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: lightgray;
}

main {
    grid-area: main;
    display: grid;
    grid-row-gap: 50px;
    background-color: orange;
    padding: 50px;
}

img {
    grid-area: img;
    border: 1px solid black;
}

p {
    grid-area: paragraph;
    text-align: left;
    align-self: center;
}

footer {
    grid-area: footer;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Index */
#index main {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "paragraph";
}

/* Page 2 */
#page2 main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

#page2 article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 200px auto;
    grid-gap: 50px;
    grid-template-areas: 
    "img img-text"
    "paragraph paragraph";
    border: 1px solid black;
    padding: 25px;
}

#page2 article p {
    overflow: auto;
}

#page2 .img-text {
    grid-area: img-text;
    text-align: center;
}

/* Page 3 */
#page3 .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 150px auto auto 100px;
    grid-template-areas: 
        "header"
        "nav" 
        "main" 
        "aside"
        "footer";
}

#page3 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page3 aside {
    grid-area: aside;
    background-color: yellow;
    padding: 50px;
    display: flex;
    grid-gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* For desktop */
@media only screen and (min-width: 768px) {
    /* Index */
    #index .wrapper {
        grid-template-rows: 100px 40px auto 100px;
    }

    #index ul {
        grid-template-columns: repeat(3, 1fr);
    }

    #index main {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 0;
        grid-column-gap: 50px;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "img paragraph";
    }

    /* Page 2 */
    #page2 .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: 
            "header header"
            "nav main"
            "footer footer";
    }

    #page2 main {
        overflow: auto;
    }

    #page2 article {
        grid-template-rows: 4fr 1fr;
        grid-row-gap: 0;
        grid-template-areas: 
            "img paragraph"
            "img-text paragraph";
    }

    #page2 article p {
        align-self: start;
    }

    /* Page 3 */
    #page3 .wrapper {
        grid-template-columns: 1fr 3fr 2fr;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: 
            "header header header"
            "nav main aside"
            "footer footer footer";
    }
} 